[submodule "code/external/sdl3"]
	path = code/external/sdl3
	url = https://github.com/libsdl-org/SDL.git
[submodule "code/external/assimp"]
	path = code/external/assimp
	url = https://github.com/assimp/assimp.git
