IMAGES_NO_SUBMIT/
rendered.png
log_engine.txt
build*/
*.swp
a.out
logs/
*.vs*
*.cap
code/shared/platform_defines.hpp
assets/cache/
tests/
*.spv
.vscode/
Sponza-master/
code/external/bc7enc_rdo/bc7e_ispc*
imgui.ini

__pycache__

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
